.container {
    width: 35rem;
    // min-height: 45rem;
    border-radius: .4rem;
    font-size: 1.6rem;


    &__content {
        font: inherit;
        min-height: calc(37rem - 5rem);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    &__actions {
        font: inherit;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;
    }
}